<div class="container-fulid1">
    <form class="form-1">
        <h2>Register</h2>
        <div class="row">
            <div class="col-sm-6">
                <label for="fname">First Name</label>
                <input type="text" />
            </div>
            <div class="col-sm-6">
                <label for="lname">Last Name</label>
                <input type="text" />
            </div>
        </div>
        <div class="form-group">
            <label for="phone">Mobile Number</label>
            <input type="tel" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" />
        </div>
        <div class="form-group">
            <label for="cnfpassword">Confirm Password</label>
            <input type="password" />
        </div>
        <button class="btn-success" routerLink="*">Register</button>
    </form>
</div>