<div class="row">
    <div class="col-sm-4">
        <img src="https://tmssl.akamaized.net/images/foto/galerie/wayne-rooney-derby-county-2020-1605452367-51512.jpg?lm=1605452388">
    </div>
    <div class="col-sm-4">
        <img src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg)/origin-imgresizer.eurosport.com/2010/03/27/593763-22224872-2560-1440.jpg">
    </div>
    <div class="col-sm-4">
        <img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F1204044824%2FDerby-County-v-Northampton-Town---FA-Cup-Fourth-Round--Replay%2F960x0.jpg%3Ffit%3Dscale">
    </div>
</div>