<div class="row">
    <div class="col-sm-4">
        <img src="https://images7.alphacoders.com/116/thumb-1920-1166066.png">
    </div>
    <div class="col-sm-4">
        <img src="https://imgresizer.eurosport.com/unsafe/1200x0/filters:format(jpeg):focal(1318x534:1320x532)/origin-imgresizer.eurosport.com/2015/12/01/1743215-36862506-2560-1440.jpg">
    </div>
    <div class="col-sm-4">
        <img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F60fe9c7b0499c22c2d8ea199%2FManchester-United-v-Fulham---Premier-League%2F960x0.jpg%3Ffit%3Dscale">
    </div>
</div>
<router-outlet></router-outlet>